.user-list {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  padding: 1em 2.2em;
  border-radius: 4px;
  justify-content: space-around;
  width: 400px;
  /* aspect-ratio: 1/1; */
}

.user-list > div > h1,
h2 {
  margin: 0;
  padding: 0;
}

.svg {
  width: 20px;
  height: 20px;
}
.user-list > div > svg,
h2 {
  color: rgb(47, 47, 47);
  font-weight: 500;
  font-size: 1.4rem;
}

.user-list-inner {
  display: flex;
  align-items: center;
  gap: 18px;
  word-break: break-all;
}
